.navbarCntr {
  height: 10vh;
  background-color: #f2b418;
}

.menuNavCntr {
  display: flex;
  align-items: center;
}

.menuNav {
  margin-left: 1rem;
  display: none;
}

.menuNav svg {
  width: 30px;
}

.navLogo {
  margin: 0 1rem;
  width: 300px;
}

.navLogo img {
  width: 100%;
  height: auto;
}

.navLinkCntr {
  margin: 0 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.navLinkCntr a {
  text-decoration: none;
  height: 100%;
  border-bottom: 5px solid transparent;
  transition: all 0.25s ease-in-out;
}

.activeNav {
  border-bottom-color: #ecf8fd !important;
}

.navLinkCntr p {
  color: #272838;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.25s ease-in-out;
}

.navLinkCntr a:hover p {
  color: #ecf8fd;
}

.cartIcon {
  background-color: #272838;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.5px solid transparent;
  transition: all 0.25s ease-in-out;
  position: relative;
}

.cartIcon svg {
  width: 65%;
  fill: #f2b418;
  transition: all 0.25s ease-in-out;
}

.navLinkCntr a:hover .cartIcon {
  border-color: #ecf8fd;
}

.navLinkCntr a:hover svg {
  fill: #ecf8fd;
}

.cartCount {
  position: absolute;
  top: -0.2rem;
  left: -0.7rem;
  background-color: #272838;
  color: #ecf8fd !important;
  width: 32px;
  height: 32px;
  border: 2px solid #f2b418;
  border-radius: 50%;
  padding: 0.25rem;
  font-size: 0.8rem !important;
}

.navLinkCntr a:hover .cartCount {
  background-color: #ecf8fd !important;
  color: #272838 !important;
}

.searchCntr {
  border: 1px solid #272838;
  border-radius: 25px;
  background-color: #ecf8fd;
  padding: 0.25rem 1rem;
  height: 2.5rem;
  margin-bottom: 5px;
  width: 30%;
}

.searchCntr input {
  border: none;
  background-color: transparent;
  height: 100%;
  outline: none;
  width: 100%;
  color: #815355;
  font-size: 1rem;
}

.searchCntr span {
  cursor: pointer;
}

.navRespCntr {
  display: none;
}

.closeMenu {
  display: none;
}

.openMenu {
  display: block;
}

/* Mobile */
@media (max-width: 700px) {
  .navLogo {
    width: 180px;
  }

  .menuNav {
    display: block;
  }

  .navModalHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navModalHeader p {
    font-size: 1.5rem;
    color: #272838;
  }

  .navLinkCntr {
    display: none;
  }

  .navRespCntr {
    display: block;
    margin-right: 1rem;
  }

  .navModal {
    width: 70%;
    height: 100%;
    background-color: #b1aa81;
    padding: 1rem;
    animation: openMenuAnim 0.35s forwards ease-in-out;
  }

  @keyframes openMenuAnim {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .navRespList {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .navRespList a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    color: #272838;
    border: 1px solid #272838;
    border-radius: 3px;
  }

  .activeNav {
    color: #ecf8fd !important;
    border: 1px solid #815355 !important;
    background-color: #815355;
  }
}
