* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #272838;
}

.flexRowSBC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.objCenter {
  display: grid;
  place-items: center;
}

/* Products Card Container */
.productsCntr {
  padding: 0 1rem 1rem 1rem;
  width: 80%;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.productCard {
  background-color: white;
  height: 240px;
  width: 250px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImg {
  margin-top: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.productImg img {
  width: 100%;
}

.productAddCntr {
  margin: 0.5rem;
}

.productAddCntr h6 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #272838;
}

.productAddCntr button {
  color: #ecf8fd;
  width: 90px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #272838;
  border: 1px solid #272838;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.productAddCntr button span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #f2b418;
}

.productAddCntr button:hover {
  filter: invert(0.3);
}

.products-info {
  height: 100%;
  display: grid;
  place-items: center;
}

.products-info p {
  color: #ecf8fd;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.loader-pg {
  height: 90vh;
  display: grid;
  place-items: center;
}

.loader-cntr {
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  animation: loaderAnim 2s infinite linear;
}

@keyframes loaderAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader-cntr img {
  width: 100%;
  height: auto;
}

/* Mobile */
@media (max-width: 700px) {
  .productsCntr {
    width: 100%;
  }

  .productCard {
    height: 100px;
    width: 100%;
    flex-direction: row;
  }

  .productImg,
  .productImg img {
    width: auto;
    height: 100%;
  }

  .productAddCntr {
    flex-direction: column;
  }

  .productAddCntr h6 {
    font-size: 1.2rem;
  }

  .productAddCntr button {
    height: 40px;
    width: 140px;
    font-size: 1.1rem;
  }

  .productAddCntr button span {
    font-size: 0.9rem;
  }
}
