.productsPg {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
}

.filterCntr,
.respFilterCntr {
  background-color: #afcbd5;
  border: 1px solid #afcbd5;
  width: 20%;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}

.respFilterCntr {
  display: none;
}

.respHeader svg {
  display: none;
}

.filterSubCntr {
  height: 92%;
  overflow-y: scroll;
}

.filterCntr h4,
.respFilterCntr h4 {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #272838;
  color: #ecf8fd;
  padding: 0.5rem;
  text-align: center;
}

.filterCntr h4 span,
.respFilterCntr h4 span {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: normal;
  background-color: #b1aa81;
  padding: 0.2rem 0.4rem;
  color: #272838;
  border: 0.6px solid #b1aa81;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.filterCntr h4 span:hover {
  background-color: #272838;
  color: #b1aa81;
}

.filterArea {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.filterArea h5 {
  padding: 0.5rem;
  background-color: #272838;
  color: #ecf8fd;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.filterType {
  padding: 0.35rem 0.5rem;
}

.filterType input {
  margin-right: 0.5rem;
}

.filterArea label {
  font-size: 0.9rem;
  color: #272838;
  font-weight: 500;
}

.searchCntr {
  display: none;
  border: 1px solid #272838;
  border-radius: 25px;
  background-color: #ecf8fd;
  padding: 0.25rem 1rem;
  height: 2.5rem;
  margin-bottom: 5px;
  width: 100%;
}

.searchCntr input {
  border: none;
  background-color: transparent;
  height: 100%;
  outline: none;
  width: 100%;
  color: #815355;
  font-size: 1rem;
}

.searchCntr span {
  cursor: pointer;
}

.closeFilterIcon {
  display: none;
}

/* Mobile */
@media (max-width: 700px) {
  .productsPg {
    flex-direction: column;
  }

  .filterCntr {
    display: none;
  }

  .respFilterCntr {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
  }

  .respHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .respHeader svg {
    stroke: #afcbd5;
    display: block;
  }

  .openFilter {
    display: block;
    animation: openFilterAnim 0.25s forwards ease-in;
  }

  @keyframes openFilterAnim {
    0% {
      opacity: 0.7;
    }

    100% {
      opacity: 1;
    }
  }

  .closeFilter {
    display: none;
  }

  .closeFilterIcon {
    display: block;
    position: fixed;
    top: 0.25rem;
    left: 1rem;
    color: #ecf8fd;
    font-size: 1.2rem;
  }

  .searchCntr {
    display: flex;
  }
}
